<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<!--    <link rel="manifest" href="/site.webmanifest">-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue.min.css"/>
    <link rel="stylesheet" href="scss/myStyles.css">
</head>
<body>

<br>
<div id="app" class="container-fluid col-10">

    <b-navbar id="titleBar" toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#"><h3>Inventory Manager</h3></b-navbar-brand>

        <b-collapse id="nav-collapse" is-nav>
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <div>
                        <select id="searchBy" class="custom-select" aria-label="Default select example">
                            <option selected>Search by</option>
                            <option value="1">Name</option>
                            <option value="2">Description</option>
                            <option value="3">Category</option>
                        </select>
                    </div>

                    <b-form-input id="searchBox" size="m" class="mr-sm-2 p-3" placeholder="Search"></b-form-input>
                    <b-button size="m" class="my-2 my-sm-0" type="button" @click="search">Search</b-button>
                </b-nav-form>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>


    <b-row>




        <div class="col-6"><hr>
            <h3 class="enterItemsHeader">Add Item</h3>
            <form>

                <div class="enterItems">
                    <div class="form-group">
                        <label for="name">Item Name</label>
                        <input id="name" type="text" class="form-control" v-model="newItem.name">
                    </div>
                    <div class="form-group">
                        <label for="qty">Quantity</label>
                        <input id="qty" type="number" class="form-control" size="3" v-model="newItem.qty">
                    </div>
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <input id="desc" type="text" class="form-control" v-model="newItem.description">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input id="category" type="text" class="form-control" v-model="newItem.category">
                    </div>
                </div>
                <br>
                <b-button variant="success" id="addContent" @click="addIt">Add +</b-button><br><br>
                    <span id="addItemError"></span>

            </form>
            <br><br><br></div>

        <div class="col-6">
            <hr>
            <h3 class="enterItemsHeader">Inventory Roster</h3>
            <b-table dark striped :items="inventory" class="my-current-inventory">
                <div>

                </div>
            </b-table>
            <br>
        </div>
    </b-row>




    <b-row>
        <div class="col-6">
            <hr>
            <form>
                <h3 class="enterItemsHeader">Select Existing Item</h3>
                <div class="instructions">Enter data from the table to delete or make changes (Exact Spelling)</div>


                <div class="enterItems">
                    <div class="form-group">
                        <label for="nameIdentifier">Item Name</label>
                        <input id="nameIdentifier" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="categoryIdentifier">Category</label>
                        <input id="categoryIdentifier" type="text" class="form-control">
                    </div>
                </div>
                <b-button variant="danger" id="deleteContent" @click="deleteRecord">Delete</b-button>
                <b-button variant="success" type="button" data-toggle="modal" data-target="#changeItemModal" @click="populateModal" title="Add Item">
                    <i class="fas fa-plus"></i> Edit
                </b-button><br><br>
                <span id="deleteItemError"></span>
            </form>


        </div>
        <div class="col-6">
            <hr>
            <h3 class="searchTableHeader"></h3>

            <b-table dark striped :items="searchinventory" class="my-search-inventory"></b-table>
        </div>



    </b-row>
    <div class="modal fade" id="changeItemModal" tabindex="-1" role="dialog" aria-labelledby="editItemModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editItemModal">Edit Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="itemNameLabel">Item Name</label>
                        <input id="itemNameLabel" type="text" class="form-control">

                        <label for="itemQty">Item Qty</label>
                        <input id="itemQty" type="text" class="form-control">

                        <label for="itemDescLabel">Item Description</label>
                        <input id="itemDescLabel" type="text" class="form-control">

                        <label for="itemCategory">Item Category</label>
                        <input id="itemCategory" type="text" class="form-control">

                    </div>
                    <div class="modal-footer">
                        <b-button variant="danger" type="button" data-dismiss="modal">Close</b-button>
                        <b-button variant="success" type="submit" v-on:click.prevent="applyChanges" data-dismiss="modal">Apply</b-button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="//unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue.js"></script>
<script src="//unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue-icons.min.js"></script>
<script src="js/app-components.js"></script>
<script src="js/app.js"></script>

</body>
</html>